#highScoresList{
    border: 0.1rem solid rgba(174, 186, 219, 0.5);
    list-style: none;
    padding: 5rem;
    margin-bottom: 4rem;
    /* color: rgb(253, 253, 253); */
    background-color: rgba(21, 26, 41, 0.5);
    box-shadow: 0 2px 8px rgb(21, 26, 41);
}
.high-score{
    font-size: 2.8rem;
    color: whitesmoke;
    margin-bottom: 0.5rem;
}

.high-score:hover{
    transform: scale(1.025);
}